@using Domain_Models.DataBase;
@using Domain_Models;
@using Microsoft.Data.SqlClient;
@* @page "/GameProfile/{listingId:int}" *@
@page "/GameProfile"

<h3>GameProfile</h3>
<h1>@listingId</h1>
<div class="Container">

    <div class="ImageBox">
        <div class="GameImage"></div>
        <div class="SmallImages">
            <div class="SmallImage"></div>
            <div class="SmallImage"></div>
            <div class="SmallImage"></div>
            <div class="SmallImage"></div>
        </div>
    </div>

    <div class="InfoBox">
        <p class="GameName">@game.name</p>
        <p class="Description">@game.description</p>
        <p class="Condition">@gameListing.condition</p>
        <p class="Genre">@game.genres</p>
        <p class="Publisher">@game.publisher</p>
        <p class="Developer">@game.developer</p>
        <p class="MaxPlayer">@game.numPlayers</p>
        <p class="Platform">@game.gamePlatforms</p>
        <p class="Price">@gameListing.price</p>
    </div>
</div>
    
    <div class="BigBox">
    <p class="GameDescription">
        Gather your party and return to the Forgotten Realms in a tale of fellowship and betrayal, sacrifice and survival,
        and the lure of absolute power.

        
    </p>
    <p class="GameDescription">
        Mysterious abilities are awakening inside you, drawn from a mind flayer parasite planted in your brain.
        Resist, and turn darkness against itself. Or embrace corruption, and become ultimate evil.
    <p class="GameDescription">From the creators of Divinity: Original Sin 2 comes a next-generation RPG, set in the world of Dungeons & Dragons.</p>
        
    </p>

    <div class=" ContainerReq">
        <div class="ReqBox">

            <p class="MinimumReq">Minimum Requirements:</p>
            <p class="MinimumReq"> Minimum: Requires a 64-bit processor and operating system</p>

            <p class="MinimumReq">OS: @game.minimumRequirements.os</p>
            <p class="MinimumReq">CPU: @game.minimumRequirements.cpu</p>
            <p class="MinimumReq">RAM: @game.minimumRequirements.ram GB</p>
            <p class="MinimumReq">GPU: @game.minimumRequirements.gpu</p>
            <p class="MinimumReq">DirectX: @game.minimumRequirements.directX</p>
            <p class="MinimumReq">Storage: @game.minimumRequirements.diskStorage GB available space</p>
            <p class="MinimumReq"> Additional Notes: SSD required</p>
        </div>
        <div class="ReqBox">

            <p class="MinimumReq">Recommended Requirements:</p>
            <p class="MinimumReq"> Minimum: Requires a 64-bit processor and operating system</p>

            <p class="MinimumReq">OS: @game.recommendedRequirements.os</p>
            <p class="MinimumReq">CPU: @game.recommendedRequirements.cpu</p>
            <p class="MinimumReq">RAM: @game.recommendedRequirements.ram GB</p>
            <p class="MinimumReq">GPU: @game.recommendedRequirements.gpu</p>
            <p class="MinimumReq">DirectX: @game.recommendedRequirements.directX</p>
            <p class="MinimumReq"> Storage: @game.recommendedRequirements.diskStorage GB available space</p>
            <p class="MinimumReq"> Additional Notes: SSD required</p>
        </div>
    </div>
    
    
</div>



      
       
       
       
       
       



<style>
    .Container{
        display:flex;
        justify-content: space-between;
       

        
    }

    .ImageBox {
        display: flex;
        flex-direction: column;
        width: 550px;
        height: 700px;
        flex-shrink: 0;
        margin-top: 5%;
        margin-bottom: auto;
        margin-left: 5%;
    }

    .GameImage {
        width: 480px;
        height: 350px;
        flex-shrink: 0;
        background: #e6e6e6;
        margin-top: 5%;
        margin-left: 5%;
    }

    .SmallImages {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5%;
        margin-bottom: auto;
    }

    .SmallImage {
        width: 100px;
        height: 80px;
        flex-shrink: 0;
        background: #e6e6e6;
        margin-bottom: 5px;
        margin-left: 5%;
    }

    .InfoBox {
        flex-direction: column;
        width: 500px;
        height: 526px;
        border-radius: 36px;
        background: rgba(202, 121, 0, 0.65);
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
    }
    .GameName{
        flex-shrink: 0;
        color: #FFF;
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        margin-top: 5%;
        margin-left: 5%;
    }
    .Description{
        flex-shrink: 0;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }

    .Condition {
        flex-shrink: 0;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Genre{
        flex-shrink: 0;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Publisher{
        flex-shrink: 0;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Developer{
        flex-shrink: 0;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }
    .MaxPlayer{
        flex-shrink: 0;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Platform{
        flex-shrink: 0;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Price{
        flex-shrink: 0;
        color: #FFF;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }
    .BigBox{
       
        width: 1100px;
        height: 726px;
        border-radius: 36px;
        background: rgba(202, 121, 0, 0.65);
       
        margin-left: 5%;
        margin-right: 5%;
    }
    .GameDescription{
       
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        
        margin-left: 5%;
        margin-right: 5%;
        
        
    }

    .ContainerReq {
        display: flex;
        justify-content: space-between;
    }
    .ReqBox{
        
        width: 400px;
        height: 426px;
        
        background: rgba(202, 121, 0, 0.65);
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 5%;
       
    }
    }
    .MinimumReq{
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 36px;
    }
    .RecommendedReq{
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        margin-left: 5%;
        margin-right: 5%;
    }
    </style>

@code {

//[Parameter]
public int listingId = 2;

[Parameter]
public GameListing gameListing { get; set; }



public Game game { get; set; }


void makeGame(){
    game = new Game();
    game = game.getGame(listingId);
}

protected override void OnInitialized()
    {
       makeGame();
    }


/*string sql = "select g.name, g.description, g.releaseDate,
case
when g.numberOfPlayers = 1 then 'Single Player'
when g.numberOfPlayers > 1 then 'Multi Player'
end as numberOfPlayers,
g.ageRating, p.publisherName, dev.developerName, ge.genreName, mingr.os, mingr.cpu, mingr.ram, mingr.gpu, mingr.storage, mingr.directX, maxgr.os, maxgr.cpu, maxgr.ram, maxgr.gpu, maxgr.storage, maxgr.directX from [dbo].[GameListing] as gl
inner join [dbo].[Game] as g on gl.gameID = g.id
inner join [dbo].[Publisher] as p on g.publisher = p.id
inner join [dbo].[GameRequirements] as mingr on g.minRequirementsID = mingr.id
inner join [dbo].[GameRequirements] as maxgr on g.maxRequirementsID = maxgr.id
inner join [dbo].[assignGenreToGame] as ag on g.id = ag.gameID
inner join [dbo].[Genre] as ge on ag.genreID = ge.id
inner join [dbo].[assignDeveloperToGame] as asdev on g.id = asdev.gameID
inner join [dbo].[Developer] as dev on asdev.developerID = dev.id
where gl.listingID = {listingId}";
*/
    
}
